/* Enter your custom styles here */

/* .sapUiNoContentPadding{
    height: auto;
} */
/* .sticky{
    height: auto; 
} */

.HorizontalLayout{
    width:900%;
  
}
.sapUiSmallNegativeMarginBeginEnd{
   position: fixed;
}


.textAlignment{
    position: relative;
}
.sapUiMediumMarginEnd{
   
    padding-right: 28px;
    padding-left: 28px;
}

.sapUiMargin{
    padding-top: 8px;
    padding-bottom: 8px;
}

